*,
*:before,
*:after {
  -web-kit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
}

/* Container */
.container {
  width: 1200px;
  max-width: 100vw;
  margin: 0 auto;
}
/* First Screen */
.firstscreen {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  position: relative;
}
.intro__img {
  width: 100vw;
  height: 1000px;
  position: absolute;
  background: url("../img/intro.jpg") center no-repeat;
  /* background: linear-gradient(to bottom, #fce38a, #f38181); */
  background-size: cover;
}

/* Header */
.header {
  padding-top: 30px;
  margin-bottom: 162px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Nav */
.nav {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  padding-bottom: 12px;
  margin-right: 12px;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover {
  font-weight: 500;
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  transition: color .2s linear;
}

/* Welcome */
.welcome {
  width: 833px;
  height: 540px;
  line-height: 0.9;
  text-align: center;
  margin: 0 auto;
}
.welcome__sup {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #fff;
  margin-bottom: 42px;
  
}
.welcome__text {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  font-weight: 700;
  margin-bottom: 65px;
}
.welcome__line {
  display: block;
  width: 60px;
  height: 3px;
  color: #fff;
  background-color: #fff;
  margin-right: 100px;;
  margin-bottom: 70px;
  margin-left: 46.3%;
}
.learnmore__btn {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px;
  cursor: pointer;
}
.learnmore__btn:hover {
  color: #fce38a;
  border-color: #fce38a;
  transition: all 0.2 ease;
}

/* Slider */
.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 154px;
  padding-bottom: 25px;
}
.slider__item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.slider__line {
  width: 280px;
  display: block;
  background-color: #fff;
  border: 3px solid #fff;
  margin-bottom: 20px;
}
.slider__num {
  font-size: 24px;
  font-weight: 700;
  margin-right: 6px;
}
.slider__text {
  font-size: 18px;
  font-weight: 400;
}

/* What We Do */
.whatwedo {
  background-color: #fff;
  width: 100vw;
  height: 750px;
  padding-top: 85px;
}
.whatwedo__info {
  color: #333;
  width: 945px;
  text-align: center;
  margin: 0 auto;
}
.whatwedo__suptext {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 20px;
}
.whatwedo__title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 35px;
}
.whatwedo__line {
  width: 60px;
  height: 3px;
  color: #f38181;
  background-color: #f38181;
  border: 0;
  margin-top: 0;
  margin-bottom: 45px;
  margin: 0 auto;
}
.whatwedo__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  font-size: 15px;
  color: #999;
  padding-bottom: 92px;
  padding-top: 44px;
}
.whatwedo__scroll__list {
  padding-bottom: 190px;
  display: flex;
}
.whatwedo__human__img img {
  width: 570px;
  height: 380px;
  margin-right: 30px;
}
.whatwedo__ul__list li div {
  display: flex;
  align-items: center;
}
.whatwedo__item {
  display: flex;
  border: 1px solid #e5e5e5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #333;
  padding: 24px 10px 24px 15px;
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  
}
.whatwedo__item:last-child {
  margin-bottom: 0;
}
.whatwedo__img {
  margin-right: 12px;
}

.arrow__down {
  border: solid #ccc;
  border-width: 0 3px 3px 0;
  display: flex;
  padding: 3px;
  transform: rotate(45deg);
  width: 22px;
  height: 22px;
  margin-right: 20px;
}
